* {
    align-items: center;

}

html {
    font-size: 16px;
    background-image: url("/nooshepractice/Template/Resources/media/main/cookie_edited.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;


}

nav img {
    width: 3rem;
    height: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 50rem;
}

.company {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.btm {
    width: 70%;
    font-size: 1.5rem;
    max-width: 50%;
}

.btm span {
    display: block;
    text-align: center;
}

.slides {
    display: flex;
    align-items: center;
    justify-content: center;

}

.slides img {
    width: 10rem;
    height: 30rem;
}

footer {
    display: flex;
    /* space out evenly */
    align-items: stretch;
    /* makes all equal height */
    /* allows wrapping if the screen is too narrow */
    background-color: #f5f5f5;
    padding: 20px;
    background-color: #FFEBCD;
}

footer div {
    flex: 1 1 30%;
    /* three per row (roughly 1/3 width each) */
    border-left: 2px double black;
    padding: 20px;
    box-sizing: border-box;
    /* includes padding in width calculations */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer div:first-child {
    border-left: none;
}